@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --sidebar-blue: #0c4a6e;
    --button-blue: #227eb0;
    --bg-blue: #7dd3fc;
    --white: #fff;
    --gray: rgb(214, 220, 232);
    --text-gray: rgb(150, 154, 163);
    --black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* this color is temp */
    background-color: var(--white);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    max-height: 100vh;
}

h1 {
    font-size: 1.5rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 220px 3fr;
}

.content-container {
    background-color: var(--gray);
    padding: 40px 25px;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.side-content {
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: repeat(auto-fit, max(350px));
    gap: 20px;
}

/* PROJECTS SECTION */
.projects {
    grid-column: 1 / 2;
}

.all-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--white);
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.4);
    border-left: 10px solid rgb(240, 166, 37);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons {
    align-self:flex-end;
}

.icons button {
    border: none;
    background-color: var(--white);
    padding-left: 15px;
}

.card p.title {
    font-weight: 700;
    color: var(--black);
}

.card p {
    color: var(--text-gray);
}
/* END PROJECTS */

/* TRENDING SECTION */
.trending {
    grid-row: 2 / 3;
    width: 300px;
}

.user-container {
    border-radius: 10px;
    padding: 25px;
    background-color: var(--white);
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.4);
}

.user {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.user:last-child {
    margin-bottom: 0px;
}

.user > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-blue);
}

.username-container {
    line-height: 1.2rem;
}

.username {
    color: var(--black);
}

.username-container p:last-of-type {
    color: var(--text-gray);
}
/* END TRENDING */

/* ANNOUCEMENT SECTION */
.announcements {
    grid-row: 1 / 2;
    width: 300px;
}

.all-posts {
    border-radius: 10px;
    padding: 25px;
    background-color: var(--white);
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.4);
}

.all-posts p.title {
    font-weight: 700;
    font-size: .8rem;
    color: var(--black);
    line-height: 1.2rem;
}

.all-posts p {
    font-size: 0.7rem;
    color: var(--text-gray);
}

.all-posts hr {
    margin: 10px 0;
}
/* END ANNOUNCEMENT */

/* HEADER SECTION */
.header {
    grid: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-rows: 50px 150px;
    gap: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.search-bar {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 50px;
    height: auto;
}

.left-search {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.left-search button {
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.left-search #magnify-btn {
    background-color: var(--white);
}

.left-search input {
    background-color: var(--gray);
    border: none;
    width: 400px;
    height: 30px;
    border-radius: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: var(--sidebar-blue);
  }

.right-search {
    grid-column: 2 / -1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.right-search > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7dd3fc;
}

.header-nav {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 40px;
}

.left-nav {
    grid-column: 1 / 2;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.left-nav > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #7dd3fc;
}

.right-nav {
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
}

.right-nav button {
    border: none;
    background-color: var(--button-blue);
    color: var(--white);
    font-weight: 700;
    width: 90px;
    height: 30px;
    border-radius: 20px;
}
/* END HEADER SECTION */

/* SIDEBAR SECTION */
.sidebar {
    background-color: var(--sidebar-blue);
    color: var(--white);
    padding: 0.8rem;
    height: auto;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.sidebar-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 2.2rem;
}

.sidebar-header img {
    width: 36px;
}

ul.top {
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}

ul.top > li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-left: 5px;
}

ul.bottom {
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

ul.bottom > li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-left: 5px;
}

.sidebar p {
    font-size: 1.2rem;
}
/* SIDEBAR END */


.user > img {
    width: 36px;
}

button {
    cursor: pointer;
}

a {
    cursor: Privacy;
    text-decoration: none;
    color: var(--white);
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}